[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
parameterized = "*"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
sqlalchemy-stubs = "*"
python-multipart = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
